{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{% block title %}PSUSphere{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no">

    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito:200,300,400,600,700,800,900">
    <link rel="stylesheet" href="{% static 'css/ready.css' %}">
    <link rel="stylesheet" href="{% static 'css/demo.css' %}">

    <!-- Chart.js CDN -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.4.1/chart.min.js" integrity="sha512-5vwN8yor2fFT9pgPS9p9R7AszYaNn0LkQElTXIsZFCL7ucT8zDCAqlQXDdaqgA1mZP47hdvztBMsIoFxq/FyyQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</head>
<body>
    <div class="wrapper">
        <!-- Header -->
        <div class="main-header">
            <div class="logo-header">
                <a href="{% url 'home' %}" class="logo">PSUSphere Dashboard</a>
                <button class="navbar-toggler sidenav-toggler ml-auto" type="button" data-toggle="collapse" data-target="#collapseSidebar" aria-controls="collapseSidebar" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon la la-bars"></span>
                </button>
                <button class="topbar-toggler more"><i class="la la-ellipsis-v"></i></button>
            </div>

            <nav class="navbar navbar-header navbar-expand-lg">
                <div class="container-fluid">
                    <form class="navbar-left navbar-form nav-search mr-md-3">
                        <div class="input-group">
                            <input type="text" placeholder="Search ..." class="form-control">
                            <div class="input-group-append">
                                <span class="input-group-text"><i class="la la-search search-icon"></i></span>
                            </div>
                        </div>
                    </form>
                    <ul class="navbar-nav topbar-nav ml-md-auto align-items-center">
                        <!-- User Profile -->
                        <li class="nav-item dropdown">
                            <a class="dropdown-toggle profile-pic" data-toggle="dropdown" href="#">
                                <img src="{% if user.profile.image %}{{ user.profile.image.url }}{% else %}{% static 'img/profile.jpg' %}{% endif %}" alt="user-img" width="36" class="img-circle">
                                <span>{{ user.get_full_name|default:"Guest" }}</span>
                            </a>
                            <ul class="dropdown-menu dropdown-user">
                                <li>
                                    <div class="user-box">
                                        <div class="u-img">
                                            <img src="{% if user.profile.image %}{{ user.profile.image.url }}{% else %}{% static 'img/profile.jpg' %}{% endif %}" alt="user">
                                        </div>
                                        <div class="u-text">
                                            <h4>{{ user.get_full_name|default:"Guest" }}</h4>
                                            <p class="text-muted">{{ user.email|default:"user@example.com" }}</p>
                                        </div>
                                    </div>
                                </li>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#"><i class="ti-user"></i> My Profile</a>
                                <div class="dropdown-divider"></div>
                                <form method="post" action="{% url 'logout' %}">
                                    {% csrf_token %}
                                    <button type="submit" class="dropdown-item"><i class="fa fa-power-off"></i> Logout</button>
                                </form>
                            </ul>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>

        <!-- Sidebar -->
        <aside class="sidebar">
            <div class="scrollbar-inner sidebar-wrapper">
                <div class="user">
                    <div class="photo">
                        <img src="{% if user.profile.image %}{{ user.profile.image.url }}{% else %}{% static 'img/profile.jpg' %}{% endif %}" alt="Profile">
                    </div>
                    <div class="info">
                        <a data-toggle="collapse" href="#collapseExample" aria-expanded="true">
                            <span>
                                {{ user.get_full_name|default:"Guest" }}
                                <span class="user-level">{{ user.groups.first.name|default:"User" }}</span>
                                <span class="caret"></span>
                            </span>
                        </a>
                    </div>
                </div>
                <ul class="nav">
                    <li class="nav-item {% if request.path == '/dashboard_chart/' %}active{% endif %}">
                        <a href="{% url 'dashboard-chart' %}"><i class="la la-dashboard"></i><p>Dashboard</p></a>
                    </li>
                    <li class="nav-item {% if 'organization' in request.path %}active{% endif %}">
                        <a href="{% url 'organization-list' %}"><i class="la la-building"></i><p>Organization</p></a>
                    </li>
                    <li class="nav-item {% if 'orgmember' in request.path %}active{% endif %}">
                        <a href="{% url 'orgmember-list' %}"><i class="la la-users"></i><p>Org. Members</p></a>
                    </li>
                    <li class="nav-item {% if 'student' in request.path %}active{% endif %}">
                        <a href="{% url 'student-list' %}"><i class="la la-user"></i><p>Student</p></a>
                    </li>
                    <li class="nav-item {% if 'prog' in request.path %}active{% endif %}">
                        <a href="{% url 'prog-list' %}"><i class="la la-graduation-cap"></i><p>Programs</p></a>
                    </li>
                    <li class="nav-item {% if 'college' in request.path %}active{% endif %}">
                        <a href="{% url 'college-list' %}"><i class="la la-university"></i><p>Colleges</p></a>
                    </li>
                    <li class="nav-item {% if 'map' in request.path %}active{% endif %}">
                        <a href="{% url 'map_station' %}"><i class="la la-map-marker"></i><p>Fire Stations</p></a>
                    </li>
                </ul>
            </div>
        </aside>

        <!-- Main Content -->
        <main class="main-panel">
            {% block content %}{% endblock %}
            <footer class="footer">
                <div class="container-fluid">
                    <nav class="pull-left">
                        <ul class="nav">
                            <li class="nav-item"><a class="nav-link" href="#">About</a></li>
                            <li class="nav-item"><a class="nav-link" href="#">Help</a></li>
                        </ul>
                    </nav>
                    <div class="copyright ml-auto">
                        {{ now|date:"Y" }}, made with <i class="la la-heart text-danger"></i> by PSUSphere Team
                    </div>
                </div>
            </footer>
        </main>
    </div>

    <!-- Scripts -->
    <script src="{% static 'js/core/jquery.3.2.1.min.js' %}"></script>
    <script src="{% static 'js/core/popper.min.js' %}"></script>
    <script src="{% static 'js/core/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/plugin/jquery-scrollbar/jquery.scrollbar.min.js' %}"></script>
    <script src="{% static 'js/ready.min.js' %}"></script>
    {% block chart %}{% endblock %}
</body>
</html>